body {
  margin: 0;
  font-family: BaseFont;
  font-size: 1rem;
  height: 100%;
}

a {
  color: #8d7f69;
}

.produktBilder {
  width: 100;
  height: 100;
}

header {
  font-family: CustomFont;
  font-size: 32;
  background-color: #cfc4b2;
  padding: 16;
  display: flex;
}

@font-face {
  font-family: CustomFont;
  src: url("./assets/fonts/AmaticSC-Regular.ttf");
}

@font-face {
  font-family: BaseFont;
  src: url("./assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: start;
}

.align-items-end {
  align-items: end;
}

.gap-4 {
  gap: 16px;
}

.flex-grow-1 {
  flex-grow: 1;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.flex-shrink-1 {
  flex-shrink: 1;
}

.overflow-auto {
  overflow: auto;
}
